.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.pb-16 {
  margin: 10px;
}
mat-card {
  margin: 10px;
}
button[mat-raised-button] {
  margin: 50px 5px;
}