<div class="dialog-content-wrapper">
    <div id="order" class="page-layout carded fullwidth inner-scroll">

        <!-- TOP BACKGROUND -->
        <div class="top-bg mat-accent-bg"></div>
        <!-- / TOP BACKGROUND -->

        <!-- CENTER -->
        <div class="center">

            <!-- HEADER -->
            <div class="header mat-accent-bg"
                 fxLayout="row" fxLayoutAlign="space-between center">

                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">

                    <button mat-icon-button class="mr-16">
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <div fxLayout="column" fxLayoutAlign="start start">
                        <div class="h2">
                            TigerDen
                        </div>
                        <div class="subtitle secondary-text">
                            <span>from</span>
                            <span>dfssdf</span>
                        </div>
                    </div>
                </div>
                <!-- / APP TITLE -->

            </div>
            <!-- / HEADER -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">

                <!-- CONTENT -->
                <div class="content">

                    <mat-tab-group>

                        <mat-tab label="Order Details">

                            <div class="order-details tab-content p-24" fusePerfectScrollbar>

                                <div class="section pb-48">

                                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                        <div class="h2 secondary-text">Customer</div>
                                    </div>

                                    <div class="customer">
                                        <table class="simple">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Company</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div fxLayout="row" fxLayoutAlign="start center">
                                                        <img class="avatar">
                                                        <span class="name text-truncate">jkjhl</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="email text-truncate"> gfsg  </span>
                                                </td>
                                                <td>
                                                    <span class="phone text-truncate">ggggs   </span>
                                                </td>
                                                <td>
                                                    <span class="company text-truncate">fdsfds   </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <mat-tab-group class="addresses">

                                        <mat-tab label="Shipping Address">
                                            <div fxFlex fxLayout="column">
                                                <div class="address h4 py-24">fdfd   </div>
                                                <agm-map class="w-100-p h-400" [zoom]="15">
                                                    <agm-marker>
                                                    </agm-marker>
                                                </agm-map>
                                            </div>
                                        </mat-tab>

                                        <mat-tab label="Invoice Address" fxLayout="column">
                                            <div fxFlex fxLayout="column">
                                                <div class="address h4 py-24"></div>
                                                <agm-map class="w-100-p h-400" [zoom]="15">
                                                    <agm-marker>
                                                    </agm-marker>
                                                </agm-map>
                                            </div>
                                        </mat-tab>
                                    </mat-tab-group>
                                </div>

                                <div class="section pb-48">

                                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="m-0 mr-16 secondary-text">access_time</mat-icon>
                                        <div class="h2 secondary-text">Order Status</div>
                                    </div>

                                    <table class="simple">
                                        <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Updated On</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td>
                                                <span class="status h6 p-4">
                                                    gffg
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    gdfgdh
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <form class="update-status p-24"
                                          fxLayout="row" fxLayoutAlign="start center">

                                        <mat-form-field class="mr-16" fxFlex>
                                            <mat-select
                                                        placeholder="Select a status" required>
                                                <mat-option>
                                                    gfdg
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <button mat-raised-button class="mat-accent">
                                            Update Status
                                        </button>
                                    </form>

                                </div>

                                <div class="section pb-48">

                                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="m-0 mr-16 secondary-text">attach_money</mat-icon>
                                        <div class="h2 secondary-text">Payment</div>
                                    </div>

                                    <table class="simple">
                                        <thead>
                                        <tr>
                                            <th>TransactionID</th>
                                            <th>Payment Method</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-truncate">
                                                   gfdgf
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                  gfd
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                  gfd
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                    gfdgf
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="section pb-48">

                                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="m-0 mr-16 secondary-text">local_shipping</mat-icon>
                                        <div class="h2 secondary-text">Shipping</div>
                                    </div>

                                    <table class="simple">
                                        <thead>
                                        <tr>
                                            <th>Tracking Code</th>
                                            <th>Carrier</th>
                                            <th>Weight</th>
                                            <th>Fee</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="tracking-code">
                                               fdsgs
                                            </td>
                                            <td>
                                                sgdgf
                                            </td>
                                            <td>
                                               gdfgfd
                                            </td>
                                            <td>
                                                gdfgf
                                            </td>
                                            <td>
                                                gdfghdf
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="Products">
                            <div class="products tab-content p-24" fusePerfectScrollbar>
                                <table class="simple">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="product-row">
                                        <td class="w-64">
                                            gdfdgfd
                                        </td>
                                        <td class="w-80">
                                            <img class="product-image">
                                        </td>
                                        <td>
                                            gfdg
                                        </td>
                                        <td>
                                            gfdhdfh
                                        </td>
                                        <td>
                                            dfhh
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>

                        <mat-tab label="Invoice">

                            <div class="invoice tab-content p-24" fusePerfectScrollbar>

                                <div id="invoice" class="compact page-layout blank" fxLayout="row" fusePerfectScrollbar>

                                    <div class="invoice-container">

                                        <!-- INVOICE -->
                                        <div class="card">

                                            <div class="header">
                                                <div class="invoice-date">gfdh</div>

                                                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                                                    <div class="client">
                                                        <div class="invoice-number" fxLayout="row" fxLayoutAlign="start center">
                                                            <span class="title">INVOICE</span>
                                                            <span class="number">fgdhdg</span>
                                                        </div>

                                                        <div class="info">
                                                            <div class="title">
                                                                hhhhhhhhhgfh
                                                            </div>
                                                            <div class="address">ghfh</div>
                                                            <div class="phone">545445</div>
                                                            <div class="email">gfdhg@fghg5</div>
                                                        </div>
                                                    </div>

                                                    <div class="issuer mat-accent-bg" fxLayout="row" fxLayoutAlign="start center">
                                                        <div class="logo">
                                                            <img src="assets/images/logos/fuse.svg">
                                                        </div>

                                                        <div class="info">
                                                            <div class="title">FUSE INC.</div>
                                                            <div class="address">2810 Country Club Road Cranford, NJ 07016</div>
                                                            <div class="phone">+66 123 455 87</div>
                                                            <div class="email">hello@fuseinc.com</div>
                                                            <div class="website">www.fuseinc.com</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="content">

                                                <table class="simple invoice-table">
                                                    <thead>
                                                    <tr>
                                                        <th>PRODUCT</th>
                                                        <th class="text-right">PRICE</th>
                                                        <th class="text-right">QUANTITY</th>
                                                        <th class="text-right">TOTAL</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="title">
                                                                gfdghdf
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            hgfhg
                                                        </td>
                                                        <td class="text-right">
                                                            ghdhfg
                                                        </td>
                                                        <td class="text-right">
                                                           hdfhfg
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <table class="simple invoice-table-footer">
                                                    <tbody>
                                                    <tr class="subtotal">
                                                        <td>SUBTOTAL</td>
                                                        <td>hhdfh</td>
                                                    </tr>
                                                    <tr class="tax">
                                                        <td>TAX</td>
                                                        <td>hghhfg</td>
                                                    </tr>
                                                    <tr class="discount">
                                                        <td>DISCOUNT</td>
                                                        <td>-hgh</td>
                                                    </tr>
                                                    <tr class="total">
                                                        <td>TOTAL</td>
                                                        <td>hdghd</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="footer">
                                                <div class="note">Please pay within 15 days. Thank you for your business.</div>
                                                <div fxLayout="row" fxLayoutAlign="start start">
                                                    <div class="logo">
                                                        <img src="assets/images/logos/fuse.svg">
                                                    </div>
                                                    <div class="small-note">
                                                        In condimentum malesuada efficitur. Mauris volutpat placerat auctor. Ut ac congue dolor. Quisque
                                                        scelerisque lacus sed feugiat fermentum. Cras aliquet facilisis pellentesque. Nunc hendrerit
                                                        quam at leo commodo, a suscipit tellus dapibus. Etiam at felis volutpat est mollis lacinia.
                                                        Mauris placerat sem sit amet velit mollis, in porttitor ex finibus. Proin eu nibh id libero
                                                        tincidunt lacinia et eget eros.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / INVOICE -->

                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->
    </div>

    <!--<mat-toolbar matDialogTitle class="mat-accent m-0">-->
        <!--<mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">-->
            <!--<span class="title dialog-title">{{dialogTitle}}</span>-->
            <!--<button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">-->
                <!--<mat-icon>close</mat-icon>-->
            <!--</button>-->
        <!--</mat-toolbar-row>-->

        <!--<mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">-->
            <!--<img [src]="contact.avatar" class="avatar contact-avatar huge m-0"-->
                 <!--[alt]="contact.name"/>-->
            <!--<div class="contact-name mt-8">{{contact.name}} {{contact.lastName}}</div>-->
        <!--</mat-toolbar-row>-->
    <!--</mat-toolbar>-->

    <!--<div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>-->

        <!--<form [formGroup]="contactForm">-->

            <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start">-->
                <!--<mat-form-field fxFlex>-->
                    <!--<mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>-->
                    <!--<input name="name" formControlName="name" placeholder="Name" matInput required>-->
                <!--</mat-form-field>-->
            <!--</div>-->

            <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start">-->
                <!--<mat-form-field fxFlex>-->
                    <!--<mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>-->
                    <!--<input name="lastName" formControlName="lastName" placeholder="Lastname" matInput>-->
                <!--</mat-form-field>-->
            <!--</div>-->

            <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start">-->
                <!--<mat-form-field fxFlex>-->
                    <!--<mat-icon matPrefix class="mr-12 s-20 secondary-text">star</mat-icon>-->
                    <!--<input name="nickname" formControlName="nickname" matInput placeholder="Nickname">-->
                <!--</mat-form-field>-->
            <!--</div>-->

            <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start">-->
                <!--<mat-form-field fxFlex>-->
                    <!--<mat-icon matPrefix class="mr-12 s-20 secondary-text">phone</mat-icon>-->
                    <!--<input formControlName="phone" matInput placeholder="Phone number">-->
                <!--</mat-form-field>-->
            <!--</div>-->

            <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start">-->
                <!--<mat-form-field fxFlex>-->
                    <!--<mat-icon matPrefix class="mr-12 s-20 secondary-text">email</mat-icon>-->
                    <!--<input name="email" formControlName="email" matInput type="email" placeholder="Email">-->
                <!--</mat-form-field>-->
            <!--</div>-->

            <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start">-->
                <!--<mat-form-field fxFlex>-->
                    <!--<mat-icon matPrefix class="mr-12 s-20 secondary-text">domain</mat-icon>-->
                    <!--<input name="company" formControlName="company" matInput placeholder="Company">-->
                <!--</mat-form-field>-->
            <!--</div>-->

            <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start">-->
                <!--<mat-form-field fxFlex>-->
                    <!--<mat-icon matPrefix class="mr-12 s-20 secondary-text">work</mat-icon>-->
                    <!--<input name="jobTitle" formControlName="jobTitle" matInput placeholder="Job title">-->
                <!--</mat-form-field>-->
            <!--</div>-->

            <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start">-->
                <!--<mat-form-field class="mr-24" fxFlex>-->
                    <!--<mat-icon matPrefix class="mr-12 s-20 secondary-text">cake</mat-icon>-->
                    <!--<input matInput [matDatepicker]="birthdayDatePicker" placeholder="Birthday">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #birthdayDatePicker></mat-datepicker>-->
                <!--</mat-form-field>-->
            <!--</div>-->

            <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start">-->
                <!--<mat-form-field fxFlex>-->
                    <!--<mat-icon matPrefix class="mr-12 s-20 secondary-text">home</mat-icon>-->
                    <!--<input name="address" formControlName="address" matInput placeholder="Address">-->
                <!--</mat-form-field>-->
            <!--</div>-->

            <!--<div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">-->
                <!--<mat-form-field fxFlex>-->
                    <!--<textarea name="notes" formControlName="notes" placeholder="Notes" matInput type="text"-->
                              <!--max-rows="4"></textarea>-->
                <!--</mat-form-field>-->
            <!--</div>-->

        <!--</form>-->

    <!--</div>-->

    <!--<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">-->

        <!--<button *ngIf="action !=='edit'"-->
                <!--mat-raised-button-->
                <!--(click)="dialogRef.close(contactForm)"-->
                <!--class="save-button mat-accent"-->
                <!--[disabled]="contactForm.invalid"-->
                <!--aria-label="SAVE">-->
            <!--SAVE-->
        <!--</button>-->

        <!--<button *ngIf="action ==='edit'"-->
                <!--mat-raised-button-->
                <!--(click)="dialogRef.close(['save',contactForm])"-->
                <!--class="save-button mat-accent"-->
                <!--[disabled]="contactForm.invalid"-->
                <!--aria-label="SAVE">-->
            <!--SAVE-->
        <!--</button>-->

        <!--<button *ngIf="action ==='edit'"-->
                <!--mat-icon-button-->
                <!--(click)="dialogRef.close(['delete',contactForm])"-->
                <!--aria-label="Delete"-->
                <!--matTooltip="Delete">-->
            <!--<mat-icon>delete</mat-icon>-->
        <!--</button>-->

    <!--</div>-->
</div>
